# Define what should be excluded from archives (like GitHub releases)
* export-ignore

# Define specific files to be included in archives
!dist/ export-ignore
!dist/cflib.js -export-ignore

# Standard Git attributes for text files (line ending normalization)
*.md text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
